---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterReturnType: All
AllowShortBlocksOnASingleLine: Empty
PointerAlignment: Right
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: AlwaysBreak
IncludeBlocks: Preserve
AlignConsecutiveMacros: true